@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    min-height: 100vh;
    // background-color: #000000;
    // background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    background-image: linear-gradient(to right, #141e30, #243b55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; 

    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(128, 128, 128);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-image: linear-gradient(to right, #141e30, #243b55);
        border-radius: 50px; 
    }
    
    .header-title{
        h1{
            text-align: center;
            font-size: 7rem;
            color: #fff;
            margin-top: 2rem;
        }
        p{
            text-align: center;
            color: #fff;
        }
    }
    
}

.App{   
    padding: 5rem;
    width: 100vw; 
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 20px;

    .movie-card{ 
        min-height: 500px;
        color: #fff; 
        transition: all 0.5s ease;
        box-shadow: 1px 0px 5px rgba(255, 255, 255, 0.2);
        &:hover{
            box-shadow: none;
        }
        background: #1d1d1d;
        .movie-image{ 
        
            img{
                width: 100%;
                height: 100%;
                object-fit: cover; 
                object-position: top;
            }  
        }
        .movie-details{  
            padding: 1rem;
            
            .movie-title{
               height: 70px;
            }
            .movie-genre{
                font-size: 15px; 
                color: #eeeeee; 
            }
            .download-button{
                width: 100%;
                display: inline-block;
                outline: 0;
                cursor: pointer;
                border: none;
                padding: 0 56px;
                height: 45px;
                line-height: 45px;
                border-radius: 7px;
                font-weight: 400;
                font-size: 16px;
                background: #fff;
                color: #696969; 
                transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
                &:hover{
                    background: rgba(255,255,255,0.9); 
                    color: rgb(0, 38, 189);
                }
            }

            .summary-title{
                display: none;
            }
            .description{
                margin: 1rem 0rem;  
                height: 150px;
                font-size: 17px;
                color: #ffb300;
            }
            
        }

    }
}